# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-R
-Python
-SQL

Some of the popular languages that Data Scientists use are:
Python
R
SQL

Some of the commonly used libraries used by Data Scientists include:
Pandas
NumPY
Mathplotlib

Data Science Tools | Jupyter | Anaconda | VS Code

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Brandon Jean-Baptiste

In [6]:
!pwd

/Users/b